peft
diffusers==0.31.0
accelerate==1.0.1
huggingface-hub==0.26.1
mediapipe==0.10.15
numpy==1.26.4
opencv-python==4.10.0.84
pandas==2.2.3
peft==0.13.2
sentencepiece==0.2.0
sentence-transformers==2.3.0
protobuf==4.25.5
einops==0.8.0